html, body, header, nav, aside, figure,
img, figcaption, ul, li, a, section,
h1, h2, p, ol, form, input, label,
div, label, footer, option,
article {
  margin: 0;
  padding: 0;
  border: 0;

  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  width: 80%;
  heigth: auto;
}

body {
  margin: 0 auto;
  width: 60%;
  font-family: Arial, sans-serif;
}

aside {
    display: inline-block;
}

h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
}

ul li a, figcaption a {
  text-decoration: none;
  color: inherit;

}

.header-logo {
  width: 50px;
  float: left;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;

}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(stars.png);
  background-position: 30px -30px;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

input[type="submit"]:last-child {
  background-color: gold;
}

input[type="submit"]:last-child:hover {
  -webkit-filter: brightness(90%);
}

ol.directions li:nth-of-type(odd) {
  background-color: grey;
  -webkit-filter: brightness(150%);
}

h2 + .user_review {
  border-top: 1px solid black;
}

nav {
  display: inline-block;
}

nav ul li {
  float: left;
  list-style: none;
}

nav ul li a {
  padding: 20px;
  display: block;
}

.ingredients-list li {
  margin: 15px 0px;
}


input[type="text"], select {
  display: block;
  width: 175px;
}

select {
  margin: 10px 0;
  width: 180px;

}

textarea {
  width: 350px;
}

/*input[type="text"] {
  border: 1px solid black;
}*/

label {
  display: block;
}

input[type="radio"],
option,
input[type="submit"] {
  cursor: pointer;
  outline: none;
}

.col {
  float: left;
  box-sizing: border-box;
}

.col-1-3 {
  width: 33.3333%;
}

.col-2-3 {
  width: 66.6666%;
}

.group:after {
  content: '';
  display: block;
  clear: both;
}
